.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 100px;
    gap: 10px;
    position: relative;
    width: 1355px;
    height: 610px;
    background: url("https://img.freepik.com/free-vector/vibrant-summer-ombre-background-vector_53876-105765.jpg?w=2000"), #FFFFFF;
}
.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    width: 1080px;
    height: 435px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
}
.img{
    width: 450px;
    height: 315px;
    background-size: cover;
    object-fit: cover;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 450px;
    height: 225px;
    flex: none;
    order: 1;
    flex-grow: 1;
}
h1{
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 56px;

}
p{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

button{
width: 450px;
height: 60px;
background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
box-shadow: 0px 6px 18px #9CADF2;
border-radius: 10px;
flex: none;
order: 0;
flex-grow: 1;
font-weight: bold;
color: white;
font-family: 'Mulish';
}
button:hover{
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        width: 100%;
        height: 100%;
        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }
    .img{
        width: 315px;
        height: 315px;
        border-radius: 10px;        
        flex: none;
        margin-top: 400px;
        order: 0;
        flex-grow: 0;
    }
    .div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        margin-left: 30px;
        gap: 40px;
        width: 375px;
        height: 647px;
        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }
    .div1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 0px;
        gap: 40px;

        width: 90%;
        height: 647px;

        border-radius: 10px;

        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }
    button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        gap: 12px;

        width: 90%;
        height: 60px;

        background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
        box-shadow: 0px 6px 18px #9CADF2;
        border-radius: 10px;

        flex: none;
        order: 0;
        flex-grow: 0;
    }
}